<fieldset [disabled]="screenLoading">
    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent" *transloco="let t">
        <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">

            <div class="example-sidenav-content">
                <!-- Header -->
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Loader -->
                    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <!-- Title -->
                    <div class="text-4xl font-extrabold tracking-tight">
                        <span class="itz-catalogs">{{ 'settings.title' | transloco }}</span>
                        <br/>{{ 'settings.subtitle' | transloco }}
                    </div>
                    <!-- Actions -->
                    <div class="sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                        <!-- Search -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="t('settings.searchAdmin')">
                        </mat-form-field>
                        <!-- Add object button -->
                        <button class="mt-2 sm:mt-0 sm:ml-4 itz-btn-blue" mat-flat-button [color]="'primary'" (click)="create()">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">{{"settings.add" | transloco }}</span>
                    </button>
                    </div>
                </div>

                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">
                    <!-- Objects list -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="rowList.length > 0; else noItems">
                            <div class="grid">
                                <!-- Header -->
                                <div class="table-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                    <div [mat-sort-header]="'name'">{{ 'settings.name' | transloco}}</div>
                                    <div>{{ 'settings.details' | transloco}}</div>
                                </div>
                                <!-- Rows -->
                                <ng-container *ngFor="let item of rowList;">
                                    <div class="table-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div>{{item.name}}</div>
                                        <!-- Details button -->
                                        <div>
                                            <button type="button" class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="toggleDetails(item)">
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="selectedItem?.id === item.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                                </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-template #noItems>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{ "settings.empty" | transloco }}</div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <mat-drawer #drawer class="w-full md:w-100 setting lg:w-50" position="end">
                <div class="overflow-hidden">
                    <div class="flex">
                        <!-- Selected object form -->
                        <form class="flex flex-col w-full" [formGroup]="selectedItemForm">

                            <div class="flex flex-col sm:flex-row sm:pt-8 sm:pb-8 border-b p-8">
                                <div class="flex flex-col w-full lg:w-2/3 sm:pl-8 sm:pr-8">
                                    <p class="itz-title-nav" *ngIf="!editMode">{{"settings.add_setting" | transloco }}</p>
                                    <p class="itz-title-nav" *ngIf="editMode">{{"settings.edit_setting" | transloco }}</p>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-8">
                                    <!-- Close button -->
                                    <div class="flex items-center justify-end">
                                        <button type="button" mat-icon-button [color]="'warn'" (click)="delete()">
                                            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                        </button>
                                        <button type="button" mat-icon-button (click)="closeDetails()">
                                            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row sm:pt-8 p-8">
                                <div class="flex flex-col w-full lg:w-3/3 sm:pl-8 sm:pr-8">
                                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                                        <mat-label class="itz-nav-form-title">{{"settings.name" | transloco }}</mat-label>
                                        <input matInput [formControlName]="'name'">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row pt-4 p-8">
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.minimumDownPaymentPercentage" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'minDepositPercentage'" min="0" max="100">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:receipt-tax'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.minimumCashDownPayment" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="text" [formControlName]="'minDepositCash'" currencyMask [options]="{align: 'lefth', prefix: '', thousands: ',', decimal: '.' }">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-8">
                                    <p class="itz-nav-form-title">{{"settings.maximumLTVNADAPercentage" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'maxLtvNadaPercentage'">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:receipt-tax'"></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row pt-4 p-8">
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.maximumMonthlyPayment" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'maxMonthPayPercentage'">
                                        <div class="icon-size-5" matPrefix>%</div>

                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.minimumTermLoan" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'loanTermInit'" (input)="minZero($event, 'loanTermInit')">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-8">
                                    <p class="itz-nav-form-title">{{"settings.maximumTermLoan" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'loanTermEnd'" (input)="minZero($event, 'loanTermEnd')">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row pt-4 p-8">
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.maximumLoanValue" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="text" [formControlName]="'loanMaxValue'" (input)="minZero($event, 'loanMaxValue')" currencyMask [options]="{ align: 'lefth', prefix: '', thousands: ',', decimal: '.' }">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:currency-dollar'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.maximumAgeVehicle" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'vehicleMaxAge'" (input)="minZero($event, 'vehicleMaxAge')">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-8">
                                    <p class="itz-nav-form-title">{{"settings.maximumMileageVehicle" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="text" [formControlName]="'vehicleMaxMilage'" (input)="minZero($event, 'vehicleMaxMilage')" currencyMask [options]="{align: 'lefth', prefix: '', thousands: ',', decimal: '.' }">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row pt-4 p-8">
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.maximumMileageVehicleYear" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="text" [formControlName]="'vehicleMaxMilageYear'" (input)="minZero($event, 'vehicleMaxMilageYear')" currencyMask [options]="{align: 'lefth', prefix: '', thousands: ',', decimal: '.' }">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.maximumDaysFirstMonthlyPayment" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'daysPayMonth'">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cash'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-8">
                                    <p class="itz-nav-form-title">{{"settings.maximumDaysFirstBiWeeklyPayment" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'daysPaySemiMonth'">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cash'"></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row pt-4 p-8">
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.maximumDaysFirstWeeklyPayment" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'daysPayWeek'">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:cash'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-4">
                                    <p class="itz-nav-form-title">{{"settings.minimumReferencesCredit" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'minReferences'" (input)="maxValue($event, 'minReferences', 3)">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:link'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-4 sm:pr-8">
                                    <p class="itz-nav-form-title">{{"settings.minimumEmploymentReferences" | transloco }}</p>
                                    <mat-form-field class="w-full">
                                        <input matInput type="number" [formControlName]="'minWorkReferences'" (input)="maxValue($event, 'minWorkReferences',3)">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:link'"></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row pt-8 p-8">
                                <div class="flex flex-col w-full lg:w-1/2 sm:pl-8 sm:pr-4 sm:pb-5">
                                    <p class="itz-nav-form-title">{{"settings.nonApprovedVehicles" | transloco }}</p>
                                </div>
                                <div class="flex-col w-full lg:w-1/2 sm:pl-4 sm:pr-12 itz-text-right">
                                    <button class="flex itz-nav-form-title" type="button" [color]="'link'" (click)="addNewChip = !addNewChip">
                                        {{ 'settings.addAnotherVehicle' | transloco}}
                                        <mat-icon class="itz-mat-icon-20" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                                    </button>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row sm:pt-8 p-8" *ngIf="addNewChip">
                                <div class="flex flex-col w-full lg:w-2/6 sm:pl-8 sm:pr-4">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label class="itz-nav-form-title">{{"settings.brands" | transloco }}</mat-label>
                                        <input type="text" matInput [formControl]="controlBrandForm" [matAutocomplete]="autoBrand" (change)="loadBrandVehicle()">
                                        <mat-autocomplete #autoBrand="matAutocomplete" [displayWith]="displayDataBrand">
                                            <mat-option *ngFor="let option of filteredBrandList | async" [value]="option">
                                                {{option.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-full lg:w-2/6 sm:pl-4 sm:pr-8">
                                    <mat-form-field class="w-full" appearance="fill">
                                        <mat-label class="itz-nav-form-title">{{"settings.models" | transloco }}</mat-label>
                                        <input type="text" matInput [formControl]="controlModelForm" [matAutocomplete]="autoModel" (change)="loadModelVehicle()">
                                        <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayDataModel">
                                            <mat-option *ngFor="let option of filteredModelList | async" [value]="option">
                                                {{option.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="flex-col w-full lg:w-2/6 sm:pl-4 sm:pr-12 sm:pt-8">
                                    <button class="itz-btn-green itz-w-100" mat-flat-button [color]="'primary'" type="button" (click)="addBannedVehicle()">
                                        {{ 'common.save' | transloco}}
                                    </button>
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row sm:pt-8 p-8" *ngIf="isErrorBannedVehicles">
                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                <span class="ml-2">{{ strErrorBannedVehicles}}</span>
                            </div>


                            <div class="flex flex-col sm:flex-row pt-8 p-8">
                                <div class="flex flex-col w-full lg:w-1/1 sm:pl-8 sm:pr-8">
                                    <mat-chip-list aria-label="t('settings.nonApprovedVehicles')">
                                        <mat-chip *ngFor="let banned of (selectedItem?.bannedList || [])" [ngClass]="banned.full ? 'itz-chip-brand' : 'itz-chip-model'">
                                            <label *ngIf="banned.full">{{banned.make}}</label>
                                            <label *ngIf="!banned.full">{{banned.model}}</label>
                                            <button class="mt--4" matChipRemove (click)="removeItemVehicle(banned)">
                                                <mat-icon [ngClass]="banned.full ? 'itz-chip-brand-inner' : 'itz-chip-model-inner'">cancel</mat-icon>
                                            </button>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </div>
                            <!-- FORM SUBMIT -->
                            <div class="flex flex-col sm:flex-row">
                                <div class="flex flex-col w-full lg:w-4/4 px-8 pt-8">
                                    <button class="itz-btn-blue" mat-flat-button [color]="'primary'" (click)="update()">
                                        {{ 'common.save' | transloco}}
                                    </button>
                                </div>
                            </div>
                            <!-- FORM SUBMIT INFORMATION -->
                            <div class="flex items-center justify-between w-full px-8 py-4">
                                <div class="flex items-center">
                                    <div class="flex items-center mr-4">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">{{ 'settings.success_update' | transloco}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">{{ flashMessageMsg}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'deleted'">
                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">{{ 'settings.deleted_update' | transloco}}</span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-drawer>
        </mat-drawer-container>
    </div>
</fieldset>
