fieldset {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.table-grid {
    grid-template-columns: auto 48px;
    @screen sm {
        grid-template-columns: auto 72px;
    }
    @screen md {
        grid-template-columns: auto 72px;
    }
    @screen lg {
        grid-template-columns: auto 72px;
    }
}

.itz-btn-blue {
    background-color: #3cb4e5 !important;
}

.itz-btn-green {
    background-color: #4c9c2e !important;
}

.mat-slide-toggle-thumb {
    background: #3cb4e5 !important;
}

.mat-drawer-container {
    background-color: transparent !important;
    position: initial !important;
}

.itz-catalogs {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #3cb4e5;
}

.itz-title-nav {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}

.itz-nav-form-title {
    color: #64748b !important;
    font-weight: 500 !important;
    max-width: 190px !important;
}

.itz-text-right {
    text-align: -webkit-right !important;
}

.mt--4 {
    margin-top: -4px;
}

.itz-chip-brand {
    background-color: #fef2f2 !important;
}

.itz-chip-model {
    background-color: #f0fdf4 !important;
}

.itz-drawer-width {
    max-width: 55% !important;
}

.itz-chip-brand-inner {
    color: #cf3339 !important;
}

.itz-chip-model-inner {
    color: #4c9c2e !important;
}

.itz-w-100 {
    width: 100%;
}

@media (min-width: 960px){

    .setting.lg\:w-50 {
        width: 40rem !important;
    }
}

@media (min-width: 1050px){

    .setting.lg\:w-50 {
        width: 40rem !important;
    }
}
@media (min-width: 1280px){

    .setting.lg\:w-50 {
        width: 50rem !important;
    }
}
