.administrator-grid {
    grid-template-columns: auto;

    @screen sm {
        grid-template-columns: 112px auto 350px;
    }

    @screen md {
        grid-template-columns: 112px auto 350px 96px;
    }

    @screen lg {
        grid-template-columns: 112px auto 350px 96px;

    }
}
