fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.table-grid {
    grid-template-columns: 124px auto 48px 12px;
    @screen sm {
        grid-template-columns: 124px auto 140px 100px 80px 48px 12px;
    }
    @screen md {
        grid-template-columns: 124px 150px auto 140px 100px 100px 100px 48px 24px;
    }
    @screen lg {
        grid-template-columns: 124px 120px auto 140px 100px 100px 100px 48px 24px;
    }
}

.mat-slide-toggle-thumb {
    background: #3cb4e5 !important;
}

.mat-drawer-container {
    background-color: transparent !important;
    position: initial !important;
}

.itz-catalogs {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #3cb4e5;
}

.itz-title-nav {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}

.itz-nav-form-title {
    color: #64748b !important;
    font-weight: 500 !important;
    max-width: 190px !important;
}

.mt--4 {
    margin-top: -4px;
}
