<fieldset [disabled]="screenLoading">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent" *transloco="let t">

        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between px-6 md:px-8">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">
                <span class="itz-catalogs">{{ 'credits.title' | transloco }}</span>
                <br/>{{ 'credits.subtitle' | transloco }}
            </div>
            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded sm:min-w-64">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="t('credits.searchAdmin')">
                </mat-form-field>
                <!-- Add button -->
                <button class="ml-4 itz-btn-red" mat-flat-button [color]="'accent'" (click)="downloadFormat()">
                    <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                    <span class="ml-2 mr-1">{{"credits.download" | transloco }}</span>
                </button>
            </div>
        </div>

        <!-- Actions -->
        <div class="flex flex-col w-full py-8 sm:items-center sm:justify-between px-6 md:px-8 border-b">
            <div class="flex flex-col sm:flex-row">
                <div class="sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                    <!-- Dealership Options -->
                    <mat-form-field class="flex-auto gt-xs:pr-3 itz-select-search">
                        <mat-select [placeholder]="t('credits.dealership')" floatlLabel="never" [(ngModel)]="dealershipFilter" multiple>
                            <mat-option *ngFor="let option of delearshipList" [value]="option.userId">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!-- Status Options -->
                    <mat-form-field class="flex-auto gt-xs:pr-3 itz-select-search">
                        <mat-select [placeholder]="t('credits.status')" floatlLabel="never" [(ngModel)]="statusFilter">
                            <mat-option *ngFor="let cat of statusList" [value]="cat.id">{{ cat.name }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--
                    <mat-slider class="example-margin" [max]="0" [min]="100" [step]="10" [thumbLabel]="true" aria-labelledby="example-name-label">
                    </mat-slider>
                    -->

                    <!-- Search date range -->
                    <mat-form-field appearance="fill" class="itz-range-search">
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate [placeholder]="t('credits.start_date')" [(ngModel)]="startDateFilter">
                            <input matEndDate [placeholder]="t('credits.end_date')" [(ngModel)]="endDateFilter">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <!-- Add product button -->
                    <button class="ml-4 itz-btn-green" mat-mini-fab (click)="search()">
                        <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                    </button>

                    <!-- Add product button -->
                    <button class="ml-4" mat-flat-button (click)="cleanFilters()">
                        <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                        <span class="ml-2 mr-1 md:block hidden">{{"credits.cleanfilters" | transloco }}</span>
                    </button>
                    <!-- Add product button -->
                    <button class="ml-4" mat-flat-button (click)="downloadCSV()" [disabled]="this.rowList.length === 0">
                        <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                        <span class="ml-2 mr-1 md:block hidden">{{"credits.downloadCSV" | transloco }}</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <!-- objects list -->
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">

                <ng-container *ngIf="rowList.length > 0; else noObjects">
                    <div class="grid">
                        <!-- Header -->
                        <div class="table-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                            <div>
                                {{ 'credits.number' | transloco}}
                            </div>
                            <div class="hidden md:block" [mat-sort-header]="'userId'">
                                {{ 'credits.client' | transloco}}
                            </div>
                            <div>
                                {{ 'credits.name' | transloco}}
                            </div>
                            <div class="hidden md:block">
                                {{ 'credits.amount' | transloco}}
                            </div>
                            <div class="hidden md:block">
                                {{ 'credits.date' | transloco}}
                            </div>
                            <div class="hidden md:block">
                                {{ 'credits.dealership' | transloco}}
                            </div>
                            <div class="hidden md:block">
                                {{ 'credits.status' | transloco}}
                            </div>
                            <div>{{ 'credits.details' | transloco}}</div>
                            <div></div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngFor="let item of rowList">
                            <div class="table-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                <div>{{item.credit_app_number}}</div>
                                <div class="hidden md:block">{{item.client_id}}</div>
                                <div>{{item.client_name}} {{item.client_middle_name}} {{item.client_last_name}}</div>
                                <div class="hidden md:block">$ {{item.credit_app_requested_amount | number: '1.2' }}</div>
                                <div class="hidden md:block">{{item.credit_app_create_date | date:'shortDate'}}</div>
                                <div class="hidden md:block">{{item.originator}}</div>
                                <div class="hidden md:block">{{item.ca_status_name}}</div>
                                <div>
                                    <button type="button" class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="toggleDetails(item)">
                                                <mat-icon class="icon-size-5" [svgIcon]="selectedItem?.credit_app_id === item.credit_app_id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="grid">
                                <ng-container *ngIf="selectedItem?.credit_app_id === item.credit_app_id">
                                    <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: item}"></ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>

                    <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length" [pageIndex]="pagination.page" [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>

                </ng-container>


                <ng-template #rowDetailsTemplate let-item>
                    <div class="shadow-lg overflow-hidden">
                        <div class="flex border-b">
                            <div class="flex flex-col w-full">
                                <div class="flex flex-col sm:flex-row px-1 py-4 sm:pl-8 sm:pt-8 sm:pb-8">
                                    <div class="flex flex-col w-full lg:w-1/6 sm:pl-8">
                                        <p class="text-md font-semibold text-secondary">{{ 'credits.vin' | transloco}}</p>
                                        <p>{{ item.vehicle_vin}}</p>
                                    </div>

                                    <div class="flex flex-col w-full lg:w-1/6 sm:pl-8">
                                        <p class="text-md font-semibold text-secondary">{{ 'credits.brand' | transloco}}</p>
                                        <p>{{item.vehicle_make}}</p>
                                    </div>

                                    <div class="flex flex-col w-full lg:w-1/6 sm:pl-8">
                                        <p class="text-md font-semibold text-secondary">{{ 'credits.model' | transloco}}</p>
                                        <p>{{item.vehicle_model}}</p>
                                    </div>

                                    <div class="flex flex-col w-full lg:w-1/6 sm:pl-8">
                                        <p class="text-md font-semibold text-secondary">{{ 'credits.year' | transloco}}</p>
                                        <p>{{item.vehicle_year}}</p>
                                    </div>

                                    <div class="flex flex-col w-full lg:w-1/6 sm:pl-8">
                                        <p class="text-md font-semibold text-secondary">{{ 'credits.stock' | transloco}}</p>
                                        <p>{{item.vehicle_stock_number}}</p>
                                    </div>

                                    <div class="flex flex-col w-full lg:w-1/6 sm:pl-8">
                                        <p class="text-md font-semibold text-secondary">{{ 'credits.dealer' | transloco}}</p>
                                        <p>{{item.dealer}}</p>
                                    </div>
                                </div>
                                <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                    <div class="flex flex-col sm:flex-row">
                                        <div class="flex flex-col w-full lg:w-1/1 sm:pl-8 sm:pr-8">
                                            <mat-chip-list aria-label="t('settings.nonApprovedVehicles')">
                                                <mat-chip *ngIf="item.credit_app_approval_letter" (click)="downloadPreapprovalLetter(item.credit_app_approval_letter)">
                                                    {{ 'credits.approval_letter' | transloco}}
                                                    <button class="mt--4" (click)="downloadPreapprovalLetter(item.credit_app_approval_letter)" matChipRemove>
                                                        <mat-icon class="itz-chip-brand-inner" svgIcon="heroicons_solid:download"></mat-icon>
                                                    </button>
                                                </mat-chip>

                                                <mat-chip *ngFor="let document of item.documents" class="itz-chip-model pr-3" (click)="downloadFile(document)">
                                                    {{ document.documentName }}
                                                    <button class="mt--4" (click)="downloadFile(document)" matChipRemove>
                                                        <mat-icon class="itz-chip-brand-inner" svgIcon="heroicons_solid:download"></mat-icon>
                                                    </button>
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                    <div class="flex items-center">
                                        <div class="flex items-center mr-4" *ngIf="flashMessage">
                                            <ng-container *ngIf="flashMessage === 'success'">
                                                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                <span class="ml-2">{{ 'credits.success_update' | transloco}}</span>
                                            </ng-container>
                                            <ng-container *ngIf="flashMessage === 'error'">
                                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                <span class="ml-2">{{ 'credits.error_update' | transloco}}</span>
                                            </ng-container>
                                        </div>
                                        <button class="itz-btn-blue" type="button" mat-flat-button [color]="'primary'" (click)="openDetails(item)">
                                            {{ 'credits.upload' | transloco}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #noObjects>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{ "credits.empty" | transloco }}</div>
                </ng-template>

            </div>
        </div>
    </div>
</fieldset>
