<fieldset [disabled]="screenLoading">
    <div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden bg-card dark:bg-transparent" *transloco="let t">
        <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">

            <div class="example-sidenav-content">
                <!-- Header -->
                <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
                    <!-- Loader -->
                    <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <!-- Title -->
                    <div class="text-4xl font-extrabold tracking-tight">
                        <span class="itz-catalogs">{{ 'docs.title' | transloco }}</span>
                        <br/>{{ 'docs.subtitle' | transloco }}
                    </div>
                    <!-- Actions -->
                    <div class="sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                        <!-- Search -->
                        <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput [formControl]="searchInputControl" [autocomplete]="'off'" [placeholder]="t('docs.searchAdmin')">
                        </mat-form-field>
                        <!-- Add object button -->
                        <button class="mt-2 sm:mt-0 sm:ml-4 itz-btn-blue" mat-flat-button [color]="'primary'" (click)="create()">
                        <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                        <span class="ml-2 mr-1">{{"docs.add" | transloco }}</span>
                    </button>
                    </div>
                </div>

                <!-- Main -->
                <div class="flex flex-auto overflow-hidden">
                    <!-- Objects list -->
                    <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
                        <ng-container *ngIf="rowList.length > 0; else noItems">
                            <div class="grid">
                                <!-- Header -->
                                <div class="table-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                                    <div [mat-sort-header]="'name'">{{ 'docs.name' | transloco}}</div>
                                    <div class="hidden sm:block">{{ 'docs.minimum' | transloco}}</div>
                                    <div class="hidden sm:block">{{ 'docs.mandatory' | transloco}}</div>
                                    <div>{{ 'docs.details' | transloco}}</div>
                                </div>
                                <!-- Rows -->
                                <ng-container *ngFor="let item of rowList">
                                    <div class="table-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <div>{{item.name}}</div>
                                        <div class="hidden sm:block">{{item.min}}</div>
                                        <div class="hidden sm:block">
                                            <div *ngIf="item.mandatory; else elseMandatory">
                                                {{ 'docs.yes' | transloco}}
                                            </div>
                                            <ng-template #elseMandatory>
                                                <div>{{ 'docs.no' | transloco}}</div>
                                            </ng-template>
                                        </div>
                                        <!-- Details button -->
                                        <div>
                                            <button type="button" class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="toggleDetails(item)">
                                                    <mat-icon
                                                        class="icon-size-5"
                                                        [svgIcon]="selectedItem?.id === item.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                                </button>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-template #noItems>
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{ "docs.empty" | transloco }}</div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <mat-drawer #drawer class="w-full sm:w-100" position="end">
                <div class="overflow-hidden">
                    <div class="flex">
                        <!-- Selected object form -->
                        <form class="flex flex-col w-full" [formGroup]="selectedItemForm">

                            <div class="flex flex-col sm:flex-row p-8">
                                <div class="flex flex-col w-full lg:w-2/3 sm:pl-8">
                                    <p class="itz-title-nav" *ngIf="!editMode">{{"docs.add_document" | transloco }}</p>
                                    <p class="itz-title-nav" *ngIf="editMode">{{"docs.edit_document" | transloco }}</p>
                                </div>
                                <div class="flex flex-col w-full lg:w-1/3 sm:pl-8">
                                    <!-- Close button -->
                                    <div class="flex items-center justify-end">
                                        <button type="button" mat-icon-button [color]="'warn'" (click)="delete()" *ngIf="editMode">
                                            <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                        </button>
                                        <button type="button" mat-icon-button (click)="closeDetails()" class="ml-3">
                                            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row p-8 pb-1">
                                <!-- name -->
                                <div class="flex flex-col w-full lg:w-3/3">
                                    <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                                        <mat-label class="itz-nav-form-title">{{"docs.name" | transloco }}</mat-label>
                                        <input matInput [formControlName]="'name'">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:folder'"></mat-icon>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex flex-col sm:flex-row p-8 pb-1">
                                <!-- minimum -->
                                <div class="flex flex-col w-full lg:w-2/4">
                                    <mat-form-field class="w-full">
                                        <mat-label class="itz-nav-form-title">{{"docs.minimum" | transloco }}</mat-label>
                                        <input matInput type="number" [formControlName]="'min'">
                                        <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:folder-add'"></mat-icon>
                                    </mat-form-field>
                                </div>
                                <!-- mandatory -->
                                <div class="flex flex-col w-full lg:w-2/4">
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-8">
                                        <span class="font-semibold mb-2 itz-nav-form-title">{{"docs.mandatory" | transloco }}</span>
                                        <mat-slide-toggle [formControlName]="'mandatory'" [color]="'primary'"></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col sm:flex-row p-8 pb-1">
                                <div class="flex flex-col w-full lg:w-4/4 px-8 pt-8">
                                    <button class="itz-btn-blue" mat-flat-button [color]="'primary'" (click)="update()">
                                        {{ 'docs.save' | transloco}}
                                    </button>
                                </div>
                            </div>

                            <div class="flex items-center justify-between w-full px-8 py-4">
                                <div class="flex items-center">
                                    <div class="flex items-center mr-4" *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">{{ 'docs.success_update' | transloco}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">{{ flashMessageMsg}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'created'">
                                            <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">{{ 'docs.created_update' | transloco}}</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'deleted'">
                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            <span class="ml-2">{{ 'docs.deleted_update' | transloco}}</span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-drawer>
        </mat-drawer-container>
    </div>
</fieldset>
