fieldset {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.table-grid {
    grid-template-columns: auto 48px;
    @screen sm {
        grid-template-columns: auto 220px 100px 30px;
    }
    @screen md {
        grid-template-columns: auto 160px 112px 72px;
    }
    @screen lg {
        grid-template-columns: auto 160px 112px 72px 48px;
    }
}

.itz-btn-blue {
    background-color: #3cb4e5 !important;
}

.itz-btn-green {
    background-color: #4c9c2e !important;
}

.mat-slide-toggle-thumb {
    background: #3cb4e5 !important;
}

.mat-drawer-container {
    background-color: transparent !important;
    position: initial !important;
}

.itz-catalogs {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #3cb4e5;
}

.itz-title-nav {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}

.itz-nav-form-title {
    color: #64748b !important;
    font-weight: 500 !important;
}
