<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
        <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 mt-8 mb-4" *transloco="let t">
            <!-- Avatar and name -->
            <div class="flex flex-auto items-center min-w-0">
                <div class=" w-16 h-16 rounded-full overflow-hidden flex items-center justify-center text-4xl uppercase bg-green-500 text-gray-100 dark:bg-gray-700 dark:text-gray-200">
                        {{getNameInitials(nameUser)}}
                </div>
                <div class="flex flex-col min-w-0 ml-4">
                    <ng-container>
                        <div class="text-2xl md:text-5xl font-semibold tracking-tight leading-7 md:leading-snug truncate">{{t('home.welcomeBack')}}, {{nameUser}}!</div>
                    </ng-container>
                </div>
            </div>
            <!-- Actions -->
            <div class="flex items-center mt-6 sm:mt-0 sm:ml-2 space-x-3">
                <button
                    class="fuse-mat-button-rounded"
                    mat-flat-button
                    [color]="'warn'"
                    (click)="signOut()"
                    >
                    <span>{{t('home.btnSignOut')}}</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto">
        <div class="w-full max-w-screen-xl mx-auto">
            <div class="sm:col-span-2 md:col-span-4 xs:col-span-4 flex flex-col flex-auto p-6 m-7 mt-0 pt-0 bg-card shadow rounded-2xl overflow-hidden">
                <!-- Img Home -->
                <img
                    class="w-full h-full object-cover"
                    src="assets/images/home/img_home.svg">
            </div>
        </div>
    </div>
</div>
