/* ----------------------------------------------------------------------------------------------------- */


/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

body.light .mat-flat-button.mat-primary,
body.light .mat-raised-button.mat-primary,
body.light .mat-fab.mat-primary,
body.light .mat-mini-fab.mat-primary,
body .light .mat-flat-button.mat-primary,
body .light .mat-raised-button.mat-primary,
body .light .mat-fab.mat-primary,
body .light .mat-mini-fab.mat-primary {
    color: #fff;
}

.itz-select-search {
    width: 100% !important;
    height: 42px !important;
    min-height: 42px !important;
    margin-right: 10px !important;
    @screen md {
        width: auto !important;
    }
    @screen lg {
        width: auto !important;
    }
}

.itz-select-search>.mat-form-field-wrapper,
.itz-select-search>.mat-form-field-wrapper>.mat-form-field-flex {
    min-height: 42px !important;
    height: 42px !important;
    border-radius: 20px !important;
}

.itz-range-search {
    width: 240px !important;
    height: 42px !important;
    min-height: 42px !important;
    margin-right: 10px !important;
}

.itz-range-search>.mat-form-field-wrapper,
.itz-range-search>.mat-form-field-wrapper>.mat-form-field-flex {
    min-height: 42px !important;
    height: 42px !important;
    border-radius: 20px !important;
}

.itz-btn-blue {
    background-color: #3cb4e5 !important;
}

.itz-btn-green {
    background-color: #4c9c2e !important;
    color: white !important;
}

.itz-btn-green.mat-button-disabled {
    background-color: #c9c9c9 !important;
}

.itz-btn-green.mat-button-disabled>span {
    color: black !important;
}

.itz-btn-gray {
    background-color: #c9c9c9 !important;
}

.itz-btn-red {
    background-color: #cf3339 !important;
}

.itz-btn-red.mat-button-disabled>span {
    color: white !important;
}

.itz-btn-gray-2 {
    background-color: #94a3b8 !important;
}
