fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.dealership-grid {
    grid-template-columns: auto 60px;

    @screen sm {
        grid-template-columns: auto 120px 115px 80px;
    }

    @screen md {
        grid-template-columns: 112px auto 180px 125px 96px;
    }

    @screen lg {
        grid-template-columns: 112px auto 350px 150px 96px;

    }
}

/*Toast open/load animation*/
.alert-toast {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
