fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.dealer-grid {
    grid-template-columns: auto 60px;

    @screen sm {
        grid-template-columns: auto 172px 150px;
    }

    @screen md {
        grid-template-columns: 60px auto 140px 140px 90px 60px;
    }

    @screen lg {
        grid-template-columns: 60px auto 140px 196px 196px 60px;
    }
}

/*Toast open/load animation*/
.alert-toast {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
