<fieldset [disabled]="screenLoading">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent" *transloco="let t">

        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <!-- <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div> -->
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">{{ 'menu.dealer' | transloco }}</div>
            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="t('dealer.searchAdmin')">
                </mat-form-field>
                <!-- Add product button -->
                <button
                    *ngIf="showBtnNew"
                    class="ml-4"
                    mat-flat-button
                    [disabled]="proccessNewDealer"
                    [color]="'primary'"
                    (click)="newDealer()">
                    <mat-icon class="hidden sm:block" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">{{"dealer.add" | transloco }}</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <!-- dealer list -->
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto elementScroll">
                <ng-container><!-- *ngIf="(adminList | async) as admin" -->
                    <ng-container *ngIf="rowList.length > 0; else noDealer">
                        <div class="grid">
                            <!-- Header -->
                            <div
                                class="dealer-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort
                                matSortDisableClear>
                                <div
                                    class="hidden md:block"
                                    [mat-sort-header]="'userId'">
                                    {{ 'dealer.columnNumber' | transloco}}
                                </div>
                                <div [mat-sort-header]="'name'">{{ 'dealer.columnName' | transloco}}</div>
                                <div
                                    class="hidden md:block"
                                    [mat-sort-header]="'userNameCreate'">
                                    {{ 'menu.dealership' | transloco}}
                                </div>
                                <div
                                    class="hidden md:block"
                                    [mat-sort-header]="'cellphone'">
                                    {{ 'dealer.columnCelphone' | transloco}}
                                </div>
                                <div
                                    class="hidden sm:block"
                                    [mat-sort-header]="'status'">
                                    {{ 'dealer.columnStatus' | transloco}}
                                </div>
                                <div class="hidden sm:block">{{ 'dealer.details' | transloco}}</div>
                            </div>
                            <!-- Rows -->
                            <ng-container>
                                <ng-container *ngFor="let dealer of rowList; let index = index;">
                                    <div class="dealer-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <!-- Number -->
                                        <div class="hidden md:block truncate">
                                            {{dealer.userId}}
                                        </div>

                                        <!-- Name -->
                                        <div class="truncate">
                                            {{dealer.name}}
                                        </div>

                                        <!-- dealership -->
                                        <div class="hidden md:block truncate">
                                            {{dealer.userNameCreate}}
                                        </div>

                                        <!-- dealership -->
                                        <div class="hidden md:block truncate">
                                            {{dealer.cellphone | mask: '(000) 000-0000'}}
                                        </div>

                                        <!-- Status -->
                                        <div class="hidden sm:block">
                                            {{((dealer.status)? 'dealer.labelStatusActive' : 'dealer.labelStatusInActive') | transloco}}
                                        </div>
                                        <!-- Details button -->
                                        <div>
                                            <button
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                mat-stroked-button
                                                (click)="toggleDetails(dealer)">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="selectedDealer?.userId === dealer.userId ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <ng-container *ngIf="selectedDealer?.userId === dealer.userId">
                                            <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: dealer}"></ng-container>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>

                        <mat-paginator
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [length]="pagination.length"
                            [pageIndex]="pagination.page"
                            [pageSize]="pagination.size"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            [showFirstLastButtons]="true"></mat-paginator>
                    </ng-container>
                </ng-container>

                <ng-template
                    #rowDetailsTemplate>
                    <div class="shadow-lg overflow-hidden">
                        <div class="flex border-b">
                            <!-- Selected dealer form -->
                            <form
                                class="flex flex-col w-full"
                                [formGroup]="selectedDealerForm">

                                <div class="grid sm:grid-cols-12 gap-6 p-8 pb-1">
                                        <!-- Name -->
                                        <div class="hidden">
                                            <mat-form-field>
                                                <input matInput [formControlName]="'userId'">
                                            </mat-form-field>
                                        </div>
                                        <!-- Name -->
                                        <div class="col-span-12 sm:col-span-4 md:col-span-4 xl:col-span-4">
                                            <mat-form-field
                                                [ngClass]="formFieldHelpers"
                                                class="w-full">
                                                <mat-label>{{"dealer.columnName" | transloco }}</mat-label>
                                                <input [readonly]="!showBtnNew" matInput [formControlName]="'name'">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    matPrefix
                                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                            </mat-form-field>
                                        </div>
                                        <!-- Email -->
                                        <div class="col-span-12 sm:col-span-4 md:col-span-4 xl:col-span-4">
                                            <mat-form-field class="w-full">
                                                <mat-label>{{"dealer.columnEmail" | transloco }}</mat-label>
                                                <input
                                                    [readonly]="selectedDealer?.userId"
                                                    matInput
                                                    [formControlName]="'email'">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    matPrefix
                                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                            </mat-form-field>
                                        </div>

                                        <!-- Status -->
                                        <div class="col-span-12 sm:col-span-4 md:col-span-4 xl:col-span-4 flex justify-center" *ngIf="selectedDealer?.userId && selectedDealer?.email !== user.email && showBtnNew">
                                            <div class="flex flex-col w-full sm:pl-8 flex justify-center">
                                                <span class="font-semibold mb-2">{{"dealer.columnStatus" | transloco }}</span>
                                                <mat-slide-toggle
                                                    (change)="updateStatusSelectedDealer($event)"
                                                    [formControlName]="'status'"
                                                    [color]="'primary'">
                                                    {{selectedDealerForm.get('status').value === true ? 'Active' : 'Disabled'}}
                                                </mat-slide-toggle>
                                            </div>
                                        </div>

                                        <!-- Celular -->
                                        <div class="col-span-12 sm:col-span-4 md:col-span-4 xl:col-span-4"><!-- *ngIf="!(selectedDealer?.userId && selectedDealer?.email !== user.email)" -->
                                            <mat-form-field
                                                [ngClass]="formFieldHelpers"
                                                class="w-full">
                                                <mat-label>{{"dealer.columnCelphone" | transloco }}</mat-label>
                                                <input [readonly]="!showBtnNew" type="text" matInput [formControlName]="'cellphone'" mask="(000) 000-0000">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    matPrefix
                                                    [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                                                    <mat-error *ngIf="selectedDealerForm.invalid">10 digits</mat-error>
                                            </mat-form-field>
                                        </div>
                                </div>

                                <div class="flex items-center justify-between w-full border-t px-8 py-4" *ngIf="showBtnNew">
                                    <div>
                                        <button *ngIf="!selectedDealer?.userId"
                                            class="-ml-4"
                                            mat-button
                                            [color]="'warn'"
                                            (click)="cancelnewDealer()">
                                            {{ 'dealer.cancel' | transloco}}
                                        </button>
                                    </div>
                                    <div class="flex items-center">
                                        <div
                                            class="flex items-center mr-4"
                                            *ngIf="flashMessage">
                                            <ng-container *ngIf="flashMessage === 'success'">
                                                <mat-icon
                                                    class="text-green-500"
                                                    [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                <span class="ml-2">{{ ((!selectedDealer?.userId) ? 'dealer.saveSuccess' : 'dealer.updateSuccess') | transloco}}</span>
                                            </ng-container>
                                            <ng-container *ngIf="flashMessage === 'error'">
                                                <mat-icon
                                                    class="text-red-500"
                                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                <span class="ml-2">An error occurred, try again!</span>
                                            </ng-container>
                                        </div>
                                        <button
                                            *ngIf="!selectedDealer?.userId"
                                            mat-flat-button
                                            [color]="'accent'"
                                            (click)="saveDealer()">
                                            {{ 'dealer.save' | transloco}}
                                        </button>
                                        <button
                                            *ngIf="selectedDealer?.userId"
                                            mat-flat-button
                                            [color]="'accent'"
                                            (click)="updateSelectedDealer()">
                                            {{ 'dealer.update' | transloco}}
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </ng-template>

                <ng-template #noDealer>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{ "dealer.noDealer" | transloco }}</div>
                </ng-template>
            </div>
        </div>

    </div>
</fieldset>
<!-- Alert -->
<div class="alert-toast fixed bottom-0 right-0 m-8 w-5/6 md:w-full max-w-sm z-50">
    <fuse-alert
            *ngIf="showAlert"
            [dismissible]="true"
            [type]="alert.type"
            [appearance]="'outline'"

            [@shake]="alert.type === 'error'">
            {{alert.message}}
    </fuse-alert>
</div>
