fieldset {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.table-grid-client {
    grid-template-columns: auto 48px;
    @screen sm {
        grid-template-columns: 30px auto 48px;
    }
    @screen md {
        grid-template-columns: 30px auto 48px;
    }
    @screen lg {
        grid-template-columns: 30px auto 48px;
    }
}

.table-grid {
    grid-template-columns: 96px auto 48px;
    @screen sm {
        grid-template-columns: 96px auto 48px;
    }
    @screen md {
        grid-template-columns: 96px auto 48px;
    }
    @screen lg {
        grid-template-columns: 96px auto 48px;
    }
}

.table-doc-grid {
    grid-template-columns: 48px auto 96px;
    @screen sm {
        grid-template-columns: 48px auto 120px 105px;
    }
    @screen md {
        grid-template-columns: 48px auto 120px 105px;
    }
    @screen lg {
        grid-template-columns: 48px auto 120px 105px;
    }
}

.mat-slide-toggle-thumb {
    background: #3cb4e5 !important;
}

.mat-drawer-container {
    background-color: transparent !important;
    position: initial !important;
}

.itz-catalogs {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #3cb4e5;
}

.itz-title-nav {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}

.itz-nav-form-title {
    color: #64748b !important;
    font-weight: 500 !important;
    max-width: 190px !important;
}

.itz-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.itz-mat-icon-20 {
    width: 18px !important;
    height: 18px !important;
    min-width: 18px !important;
    color: #94a3b8 !important
}

.itz-lbl-blue {
    color: #3cb4e5;
}

.itz-btn-gray {
    color: #64748b !important;
    font-size: 14px;
}

.itz-btn-back {
    border: solid 1px #94a3b8;
    background: transparent;
}

.text-end {
    text-align: end;
    text-align: right;
    text-align: -webkit-right;
}

.font-weight-500 {
    color: #64748b;
    font-weight: 500;
}

.row-selected {
    background-color: #e7eef6;
}

.itz-btn-text-gray {
    color: #c7bebe !important;
}

::ng-deep .mat-form-field-placeholder {
    /* Internet Explorer 10-11 */
    color: #94a3b8;
}

::ng-deep .mat-focused .mat-form-field-placeholder {
    /* Microsoft Edge */
    color: #94a3b8;
}

.itz-background-rose {
    background: #fff1f2 !important;
}

.itz-text-red {
    color: #cf3339 !important;
}
