<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8">
    <div class="flex md:w-full md:max-w-6xl sm:rounded-2xl sm:shadow overflow-hidden sm:bg-card">
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <!-- Logo -->
                <div class="w-auto mx-15">
                    <img src="assets/images/logo/logo-text.svg">
                </div>

                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">{{ 'signIn.signIn' | transloco }}</div>
                <!-- <div class="flex items-baseline mt-0.5 font-medium">
                    <div>Don't have an account?</div>
                    <a
                        class="ml-1 text-primary-500 hover:underline"
                        [routerLink]="['/sign-up']">Sign up
                    </a>
                </div> -->

                <!-- Alert -->
                <fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <!-- Sign in form -->
                <form
                    class="mt-8"
                    [formGroup]="signInForm"
                    #signInNgForm="ngForm">

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>{{ 'signIn.labelEmail' | transloco }}</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'">
                        <mat-error *ngIf="signInForm.get('email').hasError('required')">
                            {{ 'signIn.errorLabelEmail' | transloco }}
                        </mat-error>
                        <mat-error *ngIf="signInForm.get('email').hasError('email')">
                            {{ 'signIn.errorTwoLabelEmail' | transloco }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <mat-label>{{ 'signIn.labelPass' | transloco }}</mat-label>
                        <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            {{ 'signIn.errorLabelPass' | transloco }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Actions -->
                    <div class="text-right w-full mt-1.5">
                        <a
                            class="text-md font-medium text-primary-500 hover:underline"
                            [routerLink]="['/forgot-password']">{{ 'signIn.forgotPass' | transloco }}
                        </a>
                    </div>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signInForm.disabled"
                        (click)="signIn()">
                        <span *ngIf="!signInForm.disabled">
                            {{ 'signIn.textButton' | transloco }}
                        </span>
                        <mat-progress-spinner
                            *ngIf="signInForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                </form>
            </div>
        </div>
        <div class="relative hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
            <!-- Background  -->
            <img
                src="assets/images/signIn/huellasllanta.svg"
                class="absolute text-gray-700">
            <!-- @formatter:on -->
            <!-- Content -->
            <div class="z-10 relative w-full max-w-2xl">
                <div class="text-7xl font-bold leading-none text-gray-100 text-center">

                    <div class="w-auto mx-20 mb-10 px-15">
                        <img src="assets/images/signIn/cochehatchback.svg">
                    </div>
                    <div class="text-5xl">{{ 'signIn.welcome' | transloco }}</div>
                </div>
                <div class="mt-6 text-base tracking-tight leading-6 text-gray-400">
                    {{ 'signIn.textWelcome' | transloco }}
                </div>
            </div>
        </div>
    </div>
</div>
