<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8">
    <div class="flex md:w-full md:max-w-6xl sm:rounded-2xl sm:shadow overflow-hidden sm:bg-card">
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <!-- Logo -->
                <div class="w-auto mx-15">
                    <img src="assets/images/logo/logo-text.svg">
                </div>

                <!-- Title -->
                <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">{{ 'forgotPass.title' | transloco }}</div>
                <div class="mt-0.5 font-medium">{{ 'forgotPass.detailForm' | transloco }}</div>

                <!-- Alert -->
                <fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                    {{alert.message}}
                </fuse-alert>

                <!-- Forgot password form -->
                <form
                    class="mt-8"
                    [formGroup]="forgotPasswordForm"
                    #forgotPasswordNgForm="ngForm">

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>{{ 'forgotPass.labelEmail' | transloco }}</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'">
                        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                            {{ 'forgotPass.errorLabelEmail' | transloco }}
                        </mat-error>
                        <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                            {{ 'forgotPass.errorTwoLabelEmail' | transloco }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-3"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="forgotPasswordForm.disabled"
                        (click)="sendResetLink()">
                        <span *ngIf="!forgotPasswordForm.disabled">
                            {{ 'forgotPass.textButton' | transloco }}
                        </span>
                        <mat-progress-spinner
                            *ngIf="forgotPasswordForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                    <!-- Form footer -->
                    <div class="mt-8 text-md font-medium text-secondary">
                        <span>{{ 'forgotPass.linkGoto' | transloco }}</span>
                        <a
                            class="ml-1 text-primary-500 hover:underline"
                            [routerLink]="['/sign-in']">{{ 'forgotPass.linkText' | transloco }}
                        </a>
                    </div>

                </form>
            </div>
        </div>
        <div class="relative hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
             <!-- Background  -->
            <img
                src="assets/images/signIn/huellasllanta.svg"
                class="absolute text-gray-700">
            <!-- @formatter:on -->
            <!-- Content -->
            <div class="z-10 relative w-full max-w-2xl">
                <div class="text-7xl font-bold leading-none text-gray-100 text-center">

                    <div class="w-auto mx-20 mb-10 px-15">
                        <img src="assets/images/signIn/cochehatchback.svg">
                    </div>
                    <div class="text-5xl">{{ 'forgotPass.welcome' | transloco }}</div>
                </div>
                <div class="mt-6 text-base tracking-tight leading-6 text-gray-400">
                    {{ 'forgotPass.textWelcome' | transloco }}
                </div>
            </div>
        </div>
    </div>
</div>
