fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.admin-grid {
    grid-template-columns: auto 60px;

    @screen sm {
        grid-template-columns: 112px auto 150px;
    }

    @screen md {
        grid-template-columns: 112px auto 200px 96px;
    }

    @screen lg {
        grid-template-columns: 112px auto 350px 96px;

    }
}


/*Toast open/load animation*/
.alert-toast {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
