<fieldset [disabled]="screenLoading">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent" *transloco="let t">

        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <!-- <div
                class="absolute inset-x-0 bottom-0"
                *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div> -->
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">{{ 'menu.administrator' | transloco }}</div>
            <!-- Actions -->
            <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        [placeholder]="t('administrator.searchAdmin')">
                </mat-form-field>
                <!-- Add product button -->
                <button
                    class="ml-4"
                    mat-flat-button
                    [disabled]="proccessNewAdmin"
                    [color]="'primary'"
                    (click)="newAdmin()">
                    <mat-icon class="hidden sm:block" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">{{"administrator.add" | transloco }}</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <!-- administrator list -->
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto elementScroll">
                <ng-container><!-- *ngIf="(adminList | async) as admin" -->
                    <ng-container *ngIf="rowList.length > 0; else noAdmin">
                        <div class="grid">
                            <!-- Header -->
                            <div
                                class="admin-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                                matSort
                                matSortDisableClear>
                                <div
                                    class="hidden md:block"
                                    [mat-sort-header]="'userId'">
                                    {{ 'administrator.columnNumber' | transloco}}
                                </div>
                                <div [mat-sort-header]="'name'">{{ 'administrator.columnName' | transloco}}</div>
                                <div
                                    class="hidden sm:block"
                                    [mat-sort-header]="'status'">
                                    {{ 'administrator.columnStatus' | transloco}}
                                </div>
                                <div class="hidden sm:block">{{ 'administrator.details' | transloco}}</div>
                            </div>
                            <!-- Rows -->
                            <ng-container>
                                <ng-container *ngFor="let admin of rowList; let index = index;">
                                    <div class="admin-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                        <!-- Number -->
                                        <div class="hidden md:block truncate">
                                            {{admin.userId}}
                                        </div>

                                        <!-- Name -->
                                        <div class="truncate">
                                            {{admin.name}}
                                        </div>

                                        <!-- Status -->
                                        <div class="hidden sm:block">
                                            {{((admin.status)? 'administrator.labelStatusActive' : 'administrator.labelStatusInActive') | transloco}}
                                        </div>
                                        <!-- Details button -->
                                        <div>
                                            <button
                                                class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                                mat-stroked-button
                                                (click)="toggleDetails(admin)">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    [svgIcon]="selectedAdmin?.userId === admin.userId ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="grid">
                                        <ng-container *ngIf="selectedAdmin?.userId === admin.userId">
                                            <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: admin}"></ng-container>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </div>

                        <mat-paginator
                            class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                            [length]="pagination.length"
                            [pageIndex]="pagination.page"
                            [pageSize]="pagination.size"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            [showFirstLastButtons]="true"></mat-paginator>
                    </ng-container>
                </ng-container>

                <ng-template
                    #rowDetailsTemplate>
                    <div class="shadow-lg overflow-hidden">
                        <div class="flex border-b">
                            <!-- Selected admin form -->
                            <form
                                class="flex flex-col w-full"
                                [formGroup]="selectedAdminForm">

                                <div class="flex flex-col sm:flex-row p-8 pb-1">
                                        <!-- Name -->
                                        <div class="hidden">
                                            <mat-form-field>
                                                <input matInput [formControlName]="'userId'">
                                            </mat-form-field>
                                        </div>
                                        <!-- Name -->
                                        <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                            <mat-form-field
                                                [ngClass]="formFieldHelpers"
                                                class="flex-auto">
                                                <mat-label>{{"administrator.columnName" | transloco }}</mat-label>
                                                <input matInput [formControlName]="'name'">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    matPrefix
                                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                                            </mat-form-field>
                                        </div>
                                        <!-- Email -->
                                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8">
                                            <mat-form-field class="w-full">
                                                <mat-label>{{"administrator.columnEmail" | transloco }}</mat-label>
                                                <input
                                                    [readonly]="selectedAdmin?.userId"
                                                    matInput
                                                    [formControlName]="'email'">
                                                <mat-icon
                                                    class="icon-size-5"
                                                    matPrefix
                                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                            </mat-form-field>
                                        </div>

                                        <!-- Status -->
                                        <div class="flex flex-col w-full lg:w-1/4 sm:pl-8" *ngIf="selectedAdmin?.userId && selectedAdmin?.email !== user.email">
                                            <span class="font-semibold mb-2">{{"administrator.columnStatus" | transloco }}</span>
                                            <mat-slide-toggle
                                                (change)="updateStatusSelectedAdmin($event)"
                                                [formControlName]="'status'"
                                                [color]="'primary'">
                                                {{selectedAdminForm.get('status').value === true ? 'Active' : 'Disabled'}}
                                            </mat-slide-toggle>
                                        </div>
                                </div>

                                <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                    <div>
                                        <button *ngIf="!selectedAdmin?.userId"
                                            class="-ml-4"
                                            mat-button
                                            [color]="'warn'"
                                            (click)="cancelnewAdmin()">
                                            {{ 'administrator.cancel' | transloco}}
                                        </button>
                                    </div>
                                    <div class="flex items-center">
                                        <div
                                            class="flex items-center mr-4"
                                            *ngIf="flashMessage">
                                            <ng-container *ngIf="flashMessage === 'success'">
                                                <mat-icon
                                                    class="text-green-500"
                                                    [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                <span class="ml-2">{{ ((!selectedAdmin?.userId) ? 'administrator.saveSuccess' : 'administrator.updateSuccess') | transloco}}</span>
                                            </ng-container>
                                            <ng-container *ngIf="flashMessage === 'error'">
                                                <mat-icon
                                                    class="text-red-500"
                                                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                <span class="ml-2">An error occurred, try again!</span>
                                            </ng-container>
                                        </div>
                                        <button
                                            *ngIf="!selectedAdmin?.userId"
                                            [disabled]="isLoading"
                                            mat-flat-button
                                            [color]="'accent'"
                                            (click)="saveAdministrator()">
                                            {{ 'administrator.save' | transloco}}
                                        </button>
                                        <button
                                            *ngIf="selectedAdmin?.userId"
                                            [disabled]="isLoading"
                                            mat-flat-button
                                            [color]="'accent'"
                                            (click)="updateSelectedAdmin()">
                                            {{ 'administrator.update' | transloco}}
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </ng-template>

                <ng-template #noAdmin>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{ "administrator.noAdmin" | transloco }}</div>
                </ng-template>
            </div>
        </div>

    </div>
</fieldset>
<!-- Alert -->
<div class="alert-toast fixed bottom-0 right-0 m-8 w-5/6 md:w-full max-w-sm z-50">
    <fuse-alert
            *ngIf="showAlert"
            [dismissible]="true"
            [type]="alert.type"
            [appearance]="'outline'"

            [@shake]="alert.type === 'error'">
            {{alert.message}}
    </fuse-alert>
</div>
