fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.inventory-grid {
    grid-template-columns: 48px auto 40px;
    @screen sm {
        grid-template-columns: 48px auto 72px;
    }
    @screen md {
        grid-template-columns: 48px 112px auto 112px 48px 72px;
    }
    @screen lg {
        grid-template-columns: 48px 112px auto 256px 100px 72px;
    }
}

.mat-slide-toggle-thumb {
    background: #3cb4e5 !important;
}
