<fieldset [disabled]="screenLoading">
    <div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent" *transloco="let t">

        <!-- Header -->
        <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
            <!-- Loader -->
            <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
                <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
            </div>
            <!-- Title -->
            <div class="text-4xl font-extrabold tracking-tight">{{ 'menu.costumers' | transloco }}</div>
            <!-- Actions -->
            <div class="sm:flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
                <!-- Search Options -->
                <mat-form-field class="flex-auto gt-xs:pr-3 itz-select-search">
                    <mat-select [placeholder]="t('costumers.selectoptions')" floatlLabel="never" [(ngModel)]="optionFilter">
                        <mat-option value="1">{{ "costumers.lastName" | transloco }}</mat-option>
                        <mat-option value="2">{{ "costumers.id" | transloco }}</mat-option>
                        <mat-option value="3">{{ "costumers.ssn" | transloco }}</mat-option>
                        <mat-option value="4">{{ "costumers.cellphone" | transloco }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Search -->
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded  lg:min-w-48 xl:min-w-64">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input matInput [(ngModel)]="strFilter" [autocomplete]="'off'" [placeholder]="t('costumers.searchAdmin')">
                </mat-form-field>
                <!-- Add product button -->
                <button class="ml-4 itz-btn-green" mat-mini-fab (click)="search()">
                    <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                </button>
                <!-- Clean search -->
                <button class="ml-4" mat-flat-button (click)="cleanFilters()">
                    <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                    <span class="ml-2 mr-1 lg:block hidden">{{"credits.cleanfilters" | transloco }}</span>
                </button>
                <!-- Add product button -->
                <button class="md:ml-4 mt-2 md:mt-0 lg:mt-0" [color]="'primary'" (click)="createClient()" [disabled]="selectedItem?.id === 0" *ngIf="user.roleId !== roleAdmin" mat-flat-button>
                    <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                    <span class="ml-2 mr-1">{{"costumers.add" | transloco }}</span>
                </button>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <!-- Products list -->
            <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto elementScroll">
                <ng-container *ngIf="rowList.length > 0; else noProducts">
                    <div class="grid">
                        <!-- Header -->
                        <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5" matSort matSortDisableClear>
                            <div></div>
                            <div class="hidden md:block">
                                {{ 'costumers.id' | transloco}}
                            </div>
                            <div [mat-sort-header]="'name'">
                                {{ 'costumers.fullName' | transloco}}
                            </div>
                            <div class="hidden lg:block">
                                {{ 'costumers.email' | transloco}}
                            </div>
                            <div class="hidden md:block">
                                {{ 'costumers.status' | transloco}}
                            </div>
                            <div class="hidden sm:block">{{ 'costumers.details' | transloco}}</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngFor="let item of rowList">
                            <div class="inventory-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                                <div></div>
                                <div class="hidden md:block truncate">
                                    {{item.id}}
                                </div>
                                <div class="truncate">
                                    {{item.name}} {{item.middleName}} {{item.lastName}}
                                </div>
                                <div class="hidden lg:block">
                                    {{item.email}}
                                </div>
                                <div class="hidden md:block">
                                    {{(item.status)? ("costumers.active" | transloco): ("costumers.disabled" | transloco)}}
                                </div>
                                <div>
                                    <button class="min-w-10 min-h-7 h-7 px-2 leading-6" mat-stroked-button (click)="toggleDetails(item)">
                                        <mat-icon class="icon-size-5" [svgIcon]="selectedItem?.id === item.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="grid">
                                <ng-container *ngIf="selectedItem?.id === item.id">
                                    <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: item}"></ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>

                    <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent" [ngClass]="{'pointer-events-none': isLoading}" [length]="pagination.length" [pageIndex]="pagination.page" [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true"></mat-paginator>

                </ng-container>

                <ng-template #rowDetailsTemplate let-item>
                    <div class="shadow-lg overflow-hidden">
                        <div class="flex border-b" *ngIf="!showFormUserAssociate">
                            <!-- Selected product form -->
                            <form class="flex flex-col w-full" [formGroup]="selectedItemForm">

                                <div class="flex flex-col sm:flex-row pl-4 pr-4 pt-4 sm:pl-8 sm:pr-0 sm:pt-8">
                                    <!-- name -->
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                                            <mat-label>{{"costumers.name" | transloco }}</mat-label>
                                            <input matInput [formControlName]="'name'" [readonly]="user.roleId == roleAdmin">
                                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <!-- middleName -->
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                                            <mat-label>{{"costumers.middleName" | transloco }}</mat-label>
                                            <input matInput [formControlName]="'middleName'" [readonly]="user.roleId == roleAdmin">
                                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <!-- lastName -->
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-8">
                                        <mat-form-field [ngClass]="formFieldHelpers" class="flex-auto">
                                            <mat-label>{{"costumers.lastName" | transloco }}</mat-label>
                                            <input matInput [formControlName]="'lastName'" [readonly]="user.roleId == roleAdmin">
                                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:user'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="flex flex-col sm:flex-row pl-4 pr-4 sm:pl-8 sm:pr-0">
                                    <!-- birthday -->
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8">
                                        <mat-form-field class="fuse-mat-no-subscript w-full mb-4 sm:mb-0" appearance="fill">
                                            <mat-label>{{"costumers.birthday" | transloco }}</mat-label>
                                            <input matInput [formControlName]="'dateBirth'" [matDatepicker]="pickerBirth" placeholder="yyyy-mm-dd" (click)="pickerBirth.open()" [readonly]="true" [disabled]="user.roleId == roleAdmin">
                                            <mat-datepicker-toggle matSuffix [for]="pickerBirth">
                                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:calendar'" matPrefix></mat-icon>
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #pickerBirth></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <!-- cellphone -->
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>{{"costumers.cellphone" | transloco }}</mat-label>
                                            <input matInput [formControlName]="'cellphone'" type="text" (input)="changeCellphone($event)" mask="(000) 000-0000" [readonly]="user.roleId == roleAdmin">
                                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <!-- homephone -->
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>{{"costumers.homephone" | transloco }}</mat-label>
                                            <input matInput [formControlName]="'homePhone'" type="text" (input)="changeHomephone($event)" mask="(000) 000-0000" [readonly]="user.roleId == roleAdmin">
                                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="flex flex-col sm:flex-row pl-4 pr-4 pb-4 sm:pl-8 sm:pr-0 sm:pb-8">
                                    <!-- Email -->
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>{{"costumers.email" | transloco }}</mat-label>
                                            <input matInput [formControlName]="'email'" [readonly]="user.roleId == roleAdmin">
                                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <!-- ssn -->
                                    <div class="flex flex-col w-full lg:w-1/3 sm:pl-8">
                                        <mat-form-field class="w-full">
                                            <mat-label>{{"costumers.ssn" | transloco }}</mat-label>
                                            <input matInput [formControlName]="'ssnItin'" type="text" (input)="changeSSN($event)"  mask="000-00-0000" [readonly]="user.roleId == roleAdmin">
                                            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:identification'"></mat-icon>
                                        </mat-form-field>
                                    </div>

                                    <!-- status -->
                                    <div *ngIf="user.roleId !== roleAdmin">
                                        <div class="flex flex-col w-full lg:w-1/3 sm:pl-8 sm:pr-8" *ngIf="selectedItem.id !== 0">
                                            <span class="font-semibold mb-2">{{"costumers.status" | transloco }}</span>
                                            <mat-slide-toggle [formControlName]="'status'" [color]="'primary'" (change)="onStatusChange()">
                                                <label *ngIf="selectedItemForm.get('status').value === true">
                                                    {{"costumers.active" | transloco}}
                                                </label>
                                                <label *ngIf="selectedItemForm.get('status').value !== true">
                                                    {{"costumers.disabled" | transloco}}
                                                </label>
                                            </mat-slide-toggle>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex items-center justify-between w-full border-t px-8 py-4" *ngIf="user.roleId !== roleAdmin">
                                    <div></div>
                                    <div class="flex items-center">
                                        <div class="flex items-center mr-4" *ngIf="flashMessage">
                                            <ng-container *ngIf="flashMessage === 'success'">
                                                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                <span class="ml-2">{{ 'costumers.success_update' | transloco}}</span>
                                            </ng-container>
                                            <ng-container *ngIf="flashMessage === 'created'">
                                                <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                                <span class="ml-2">{{ 'costumers.success_created' | transloco}}</span>
                                            </ng-container>
                                            <ng-container *ngIf="flashMessage === 'error'">
                                                <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                                <span class="ml-2">{{flashMessageMsg}}</span>
                                            </ng-container>
                                        </div>
                                        <button class="itz-btn-green" mat-flat-button [color]="'primary'" (click)="update()">
                                            {{ 'costumers.update' | transloco}}
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="flex border-b" *ngIf="showFormUserAssociate">
                            <!-- Associate user -->
                            <div class="sm:col-span-2 md:col-span-4 lg:col-span-2 flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                                <div class="flex flex-col sm:flex-row items-start justify-between">
                                    <div class="text-lg font-medium tracking-tight leading-6 truncate">{{"costumers.title-associate" | transloco}}</div>
                                </div>
                                <fuse-alert [type]="'error'">
                                    <span fuseAlertTitle>Error</span> {{userAssociate.errorMessage}}
                                </fuse-alert>
                                <div class="flex flex-col mt-2 divide-y">
                                    <ng-container *ngFor="let itemClient of userAssociate.list;">
                                        <div class="flex flex-row items-center justify-between py-4 px-0.5">
                                            <div class="flex flex-col">
                                                <div class="font-medium">{{itemClient.name}} {{itemClient.middleName}} {{itemClient.lastName}}</div>
                                                <div class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_outline:mail'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">{{itemClient.email}}</div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">{{itemClient.cellphone}}</div>
                                                        </div>
                                                    </ng-container>
                                                    <ng-container>
                                                        <div class="flex items-center">
                                                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
                                                            <div class="ml-1.5 text-md text-secondary">{{itemClient.ssnItin}}</div>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </div>
                                            <div class="flex">
                                                <button class="px-1" mat-stroked-button (click)="cleanClientAssociate()" [matDialogClose]="'cancelled'">
                                                    {{ "costumers.cancel" | transloco }}
                                                </button>
                                                <button class="itz-btn-green mx-2" mat-flat-button [color]="'primary'" (click)="associateUser(itemClient)">
                                                    {{ "costumers.associate" | transloco }}
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template #noProducts>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">{{ "costumers.empty" | transloco }}</div>
                </ng-template>

            </div>

        </div>

    </div>
</fieldset>
<div class="alert-toast fixed bottom-0 right-0 m-8 w-5/6 md:w-full max-w-sm z-50">
    <fuse-alert *ngIf="showAlert" [dismissible]="true" [type]="alert.type" [appearance]="'outline'" [@shake]="alert.type === 'error'">
        {{alert.message}}
    </fuse-alert>
</div>